#notificationPush {
    display:flex;
    flex-direction: column;
    width: 500px;
}

#notificationPush input {
    width: 100%;
}

#notificationPush .imageWrapper {
    margin: 1rem 0;
    width:300px;
}

#notificationPush h3 {
    font-size: 1rem;
}

#notificationPush .sendNotification {
    background: #007cba;
    color: white;
    border: white;
    width:max-content;
    padding: 0.3rem 1.3rem;
    display:block;
    margin-left:20%;
    cursor:pointer;
}
#mainWrapper{
    display: flex;
    justify-content: space-between;
}
.notification {
    display: flex;
    border: 1px solid black;
    margin-bottom: 5px;
    align-items: center;
    padding: 5px;
}
.notification img {
    vertical-align: bottom;
}
.notification div:nth-of-type(2){
    margin-left: 10px;
}
.notification h4 {
    margin: 0;
}
.notification p {
    margin: 0;
}
#notificationHistoryWrapper{
    margin-right: 10%;
}