#blurImage {
    display:block;
    margin:0 auto;
}
#crop-select {
    position:relative;
    width:max-content;
    max-width:1000px;
    margin:2em auto;
}

/* Loader start */
#pixelateLoader {
    position:absolute;
    top: -webkit-calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    top: calc(50% - 25px);
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index:999;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Loader end */