.aklamatorContainer {
    display:flex;
}
.buttonAklamator {
    background: #007cba;
    color: white;
    border: white;
    width: max-content;
    padding: 0.3rem 1.3rem;
    display: block;
    cursor: pointer;
    margin:0 auto;
}
.addNewPost {
    display:flex;
    flex-direction: column;
    width:max-content;
    gap:1rem;
    margin-left:10rem;
}

#newPostThumbnail {
    max-width:300px;
    min-height:200px;
}
#aklamatorPostId {
    max-width:150px;
}
#addNewPost {
    margin:0 auto;
}
#newPostTitle {
    max-width:300px;
}
#aklamatorLoader {
    position:absolute;
    top: -webkit-calc(50% - 25px);
    top: -moz-calc(50% - 25px);
    top: calc(50% - 25px);
    left: -webkit-calc(50% - 25px);
    left: -moz-calc(50% - 25px);
    left: calc(50% - 25px);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index:999;
    opacity:1;
}
/* post list */
#sortable {
    min-width:365px;
}
#sortable li {
    display:flex;
    padding:0.5rem;
    justify-content: space-between;
    align-items: center;
    cursor:move;
}
#sortable li img {
    max-width:100px;
    object-fit: contain;
    padding:0.5rem;
}
#sortable li h3 {
    margin-top:0;
    padding:0.5rem;
    font-size:14px;
    max-width:200px;
}

.postItem {
    position:relative;
}
.postItem .deleteAklamatorItem {
    position:absolute;
    top:5px;
    right:5px;
    z-index:999;
    font-size:1rem;
    cursor:pointer;
    color:red;
}
