<?php

use Carbon\Carbon;

Carbon::setLocale('bs');
$post['postTitle'] = esc_html($post['postTitle']);
$post['url'] = esc_html($post['url']);
$categories = get_the_category($post['postId']);
$post['categoryName'] = esc_html($post['categoryName']);
$post['categoryUrl'] = esc_html($post['categoryUrl']);
// if sport is the category and template 1 use the sub category info (this is for the sport category page)
foreach ($categories as $category) {
    if ($data['selectedCategory'] === '6') {
        if ($category->parent === 6) {
            $post['categoryName'] = $category->name;
            $post['categoryUrl'] = get_home_url() . '/' . $category->slug . '/';
        }
    } elseif ($category->parent === 0) {
        $post['categoryName'] = $category->name;
        $post['categoryUrl'] = get_home_url() . '/' . $category->slug . '/';
    }
}
if($post['postId']) {
    $post['authorName'] = $data['multipleAuthors']->getOwnersForPost($post['postId'])[0]->getAuthorDisplayName();
    $post['authorUrl'] = get_author_posts_url(
        $data['multipleAuthors']->getOwnersForPost($post['postId'])[0]->getAuthorId()
    );
}


$postDate = new Carbon($post['publishDate'], new \DateTimeZone('Europe/Sarajevo'));
$timeAgo = explode(' ', $postDate->longAbsoluteDiffForHumans());
$urls = [
    'siprod.djavolak.info',
    'srpska.local'
];
//$post['imageUrl'] = str_replace($urls, 'srpska.greenfriends.systems', $post['imageUrl']);
?>
<article class="news__item">
    <a title="<?= esc_html($post['postTitle']) ?>" href="<?= $post['url'] ?>">
        <figure>
            <img alt="<?= $post['imageAltText'] ?>" src="<?= $post['imageUrl'] ?>"
                 height="<?= $post['imageHeight'] ?>" width="<?= $post['imageWidth'] ?>"/>
            <?php if ($post['postType'] === 'video') : ?>
                <span class="icon"><i class="fa fa-play"></i></span>
            <?php endif; ?>
            <?php if ($post['postType'] === 'audio') : ?>
                <span class="icon"><i class="fa fa-microphone"></i></span>
            <?php endif; ?>
        </figure>
    </a>
    <div class="<?= $data['selectedCategory'] === '6' ? 'sportCategoryName' : '' ?>">
        <span class="news__category">
            <span class="categoryAuthor">
                 <?php if (mb_strtoupper($post['categoryName'])=='KOLUMNE' ) : ?>
                     <a  title="<?=$post['authorName']?>" href="<?=$post['authorUrl']?>"><?=$post['authorName']?></a>
                 <?php else : ?>
                     <a title="<?=$post['categoryName']?>" href="<?=$post['categoryUrl']?>"><?=$post['categoryName']?></a>
                 <?php endif;?>
            </span>
            <span class="postDate"><i class="fa fa-clock"></i> <?=$timeAgo[0]?> <?=$timeAgo[1]?></span>
        </span>
        <h2><a title="<?= esc_attr($post['postTitle']) ?>" href="<?= $post['url'] ?>"><?= $post['postTitle'] ?></a></h2>
        <?php
        if (isset($i) && $i < 3 && isset($post['preContent'])) {
            echo $post['preContent'];
        }
        ?>
    </div>
</article>