<?php
$class = $isSport ? 'sport' : '';
$html = '';
if($isSport) {
    $popularNewsPageUrl = parseAppUrl('page',get_home_url() . '/sport/');
    $newestNewsPageUrl = parseAppUrl('page',get_home_url() . '/sport/');
}
// Print
$html .= '<section class="gfShow gfLatestNews ' . $class . 'latest">
        <div class="news__tabs">
            <ul>
                <li class="active">Najnovije</li>
                <li onclick="showPopularPosts()">Najpopularnije</li>
            </ul>
        </div>
        <ul class="news__list">';
$iconClass = $isApp? 'fa' : 'fa';
//if ($isApp) {
//    $newestListHtmlKey = $keyPrefix . '#newestpostswidgethtmlApp';
//} else {
//    $newestListHtmlKey = $keyPrefix . '#newestpostswidgethtml';
//}
$html .= $this->printItems($newest);
$html .= '</ul><a href="'.$newestNewsPageUrl.'" title="All News" rel="category">Sve novo <i class="'.$iconClass.' fa-chevron-right"></i></a></section>';

$html .= '<section class="gfHidden gfPopularNews ' . $class . 'popular">
        <div class="news__tabs">
            <ul>
                <li onclick="showLatestPosts()">Najnovije</li>
                <li class="active">Najpopularnije</li>
            </ul>
        </div>
        <ul class="news__list">';
$html .= $this->printItems($popular);
$html .= '</ul><a href="'.$popularNewsPageUrl.'" title="Popular" rel="category">Sve popularno <i class="'.$iconClass.' fa-chevron-right"></i></a></section>';

return $html;
