<?php
    $class = $isSport ? 'sport' : '';
    if($isSport) {
        $popularNewsPageUrl = get_home_url() . '/sport/';
        $newestNewsPageUrl = get_home_url() . '/sport/';
    }
    $html = '';
    $html .= '<section class="gfShow gfLatestNews ' . $class . 'latest">
        <div class="news__tabs">
            <ul>
                <li class="active">Najnovije</li>
                <li onclick="showPopularPosts()">Najpopularnije</li>
            </ul>
        </div>
        <ul class="news__list">';

    $html .= $this->printItems($newest);
    $html .= '</ul><a href="'.$newestNewsPageUrl.'" title="All News" rel="category">Sve novo <i class="fas fa-chevron-right"></i></a></section>';
    $html .= '<section class="gfHidden gfPopularNews ' . $class . 'popular">
        <div class="news__tabs">
            <ul>
                <li onclick="showLatestPosts()">Najnovije</li>
                <li class="active" >Najpopularnije</li>
            </ul>
        </div>
        <ul class="news__list">';
    $html .= $this->printItems($popular);
    $html .= '</ul><a href="'.$popularNewsPageUrl.'" title="All News" rel="category">Sve popularno <i class="fas fa-chevron-right"></i></a></section>';

    return $html;
