//.banner__top {
//  display:flex;
//  justify-content: center;
//  width: 970px;
//  @include phone-and-tablet {
//    width: 300px;
//    height: auto;
//    margin: 20px auto 0;
//  }
//  @include desktop-up {
//    margin: 30px auto 0;
//  }
//}
//// space around banner
//.banner--space-top {
//  @include phone-and-tablet {
//    margin-top: 20px;
//  }
//}
//.banner--space-bottom {
//  @include phone-and-tablet {
//    margin-bottom: 20px;
//  }
//  @include desktop-up {
//    margin-bottom: 30px;
//  }
//}
//// sticky banner
//@include desktop-up {
//  .sticky__area {
//    height: 1000px;
//  }
//  .sticky {
//    position: sticky;
//    top: 181px;
//  }
//  .hidden .sticky {
//    top: 81px;
//  }
//}
//.sticky {
//  @extend .animation;
//}
//// right banner
//.article__right .banner {
//  margin-left: auto;
//  margin-right: auto;
//  width: 336px;
//}
//// homepage right banner
//.box__right .banner {
//  width: 336px;
//}
//// banner in article for mobile
//.banner__article {
//  margin-bottom: 20px;
//  @include desktop-up {
//    width: max-content;
//    margin: 0 auto 16px;
//  }
//}
//// banners on desktop
//.banner--desktop {
//  @include phone-and-tablet {
//    display: none;
//  }
//}
//// banners on mobile
//.banner--mobile {
//  @include desktop-up {
//    display: none;
//  }
//  margin-left: auto;
//  margin-right: auto;
//  width: max-content;
//  &.banner--sticky {
//    position: sticky;
//    top: 0;
//    z-index: 1000;
//  }
//}
//
//@include desktop-up {
//  .category__right {
//    .sticky__area {
//      margin-bottom: 20px;
//    }
//
//    .sticky {
//      margin-bottom: 20px;
//    }
//
//    .banner__top {
//      margin-bottom: 20px;
//    }
//  }
//}
//.category__left {
//  .banner__top {
//    margin-bottom:40px;
//  }
//}
//
//@include phone-and-tablet {
//  .article__right {
//    .banner__top {
//      margin-bottom:20px;
//    }
//  }
//}
.banner__top {
  width: 970px;
  @include phone-and-tablet {
    width: 320px;
    height: auto;
    margin: 20px auto 0;
  }
  @include desktop-up {
    margin: 30px auto 0;
  }
}
// space around banner
.banner--space-top {
  @include phone-and-tablet {
    margin-top: 20px;
  }
}
.banner--space-bottom {
  @include phone-and-tablet {
    margin-bottom: 20px;
  }
  @include desktop-up {
    margin-bottom: 30px;
  }
}
// sticky banner
@include desktop-up {
  .sticky__area {
    height: 1000px;
  }
  .sticky {
    position: sticky;
    top: 181px;
  }
  .hidden .sticky {
    top: 81px;
  }
}
.sticky {
  @extend .animation;
}
// right banner
.article__right .banner {
  margin-left: auto;
  margin-right: auto;
  width: 336px;
  @include phone-and-tablet {
    width: 100%;
    text-align: center;
  }
}
// homepage right banner
.box__right .banner {
  width: 336px;
}
// banner in article for mobile
.banner__article {
  margin-bottom: 20px;
  @include desktop-up {
    width: max-content;
    margin: 0 auto 16px;
  }
}
// banners on desktop
.banner--desktop {
  @include phone-and-tablet {
    display: none;
  }
}
// banners on mobile
.banner--mobile {
  @include desktop-up {
    display: none;
  }
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  &.banner--sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

// Desktop top banners min height to avoid content layout shift
.banner.banner--desktop.banner__top,
.banner.banner__top{
  @include desktop-up {
    min-height: 250px;
    text-align:center;
  }
}

.banner.banner--mobile.banner--sticky.banner--sticky_billboard.banner--space-top {
  @include phone {
    min-height: 100px;
  }
}