//.banner__top {
//  width: 970px;
//  @include phone-and-tablet {
//    width: 300px;
//    height: auto;
//    margin: 20px auto 0;
//  }
//  @include desktop-up {
//    margin: 30px auto 0;
//  }
//}
//// space around banner
//.banner--space-top {
//  @include phone-and-tablet {
//    margin-top: 20px;
//  }
//}
//.banner--space-bottom {
//  @include phone-and-tablet {
//    margin-bottom: 20px;
//  }
//  @include desktop-up {
//    margin-bottom: 30px;
//  }
//}
//// sticky banner
//@include desktop-up {
//  .sticky__area {
//    height: 1000px;
//  }
//  .sticky {
//    position: sticky;
//    top: 181px;
//  }
//  .hidden .sticky {
//    top: 81px;
//  }
//}
//.sticky {
//  @extend .animation;
//}
//// right banner
//.article__right .banner {
//  margin-left: auto;
//  margin-right: auto;
//  width: 336px;
//}
//// homepage right banner
//.box__right .banner {
//  width: 336px;
//}
//// banner in article for mobile
//.banner__article {
//  margin-bottom: 20px;
//  @include desktop-up {
//    width: max-content;
//    margin: 0 auto 16px;
//  }
//}
//// banners on desktop
//.banner--desktop {
//  @include phone-and-tablet {
//    display: none;
//  }
//}
//// banners on mobile
//.banner--mobile {
//  @include desktop-up {
//    display: none;
//  }
//  margin-left: auto;
//  margin-right: auto;
//  width: max-content;
//  &.banner--sticky {
//    position: sticky;
//    top: 0;
//    z-index: 1000;
//  }
//}