.gfLatestNews :hover ,
.gfPopularNews :hover {
    cursor:pointer;
}
.gfLatestNews > a,
.gfLatestNews > p > a,{
    font-weight:700;
    color:#ea1c24;
    margin-left: 75%;
    @include phone-and-tablet {
        margin-left: 70%;
    }
}
.gfPopularNews > a,
.gfPopularNews > p > a,{
    font-weight:700;
    color:#ea1c24;
    margin-left: 62%;
    @include phone-and-tablet {
        margin-left: 60%;
    }
    @media only screen and (max-width: 320px) {
        margin-left:45%;
    }
}
.gfPopularNews > a > .fa-chevron-right,
.gfLatestNews > a > .fa-chevron-right,
.gfPopularNews > p > a > .fa-chevron-right,
.gfLatestNews > p > a > .fa-chevron-right,{
    color: #ea1c24;
    font-size: small;
}

