<?php
use Carbon\Carbon;
global $restrictedPosts;
Carbon::setLocale('bs');

$html = '<section class="gfShow gfLatestNews">
    <div class="news__tabs">
    <ul>
        <li onclick="showLatestPosts()" class="active">Najnovije</li>
        <li onclick="showPopularPosts()">Najpopularnije</li>
    </ul>
    </div>
    <ul class="news__list">';

foreach ($newest as $post) {
    $postDate = new Carbon($post->post_date, new \DateTimeZone('Europe/Sarajevo'));
    $timeAgo = explode(' ', $postDate->longAbsoluteDiffForHumans());
    $html .= $this->printItem($timeAgo, get_permalink($post->ID), $post->post_title);
}
$html .= '</ul><a href="'.$newestNewsPageUrl.'" title="All News" rel="category">Sve novo <i class="fas fa-chevron-right"></i></a></section>';

$html .= '<section class="gfHidden gfPopularNews">
    <div class="news__tabs">
    <ul>
        <li onclick="showLatestPosts()">Najnovije</li>
        <li onclick="showPopularPosts()" class="active">Najpopularnije</li>
    </ul>
    </div>
    <ul class="news__list">';
foreach ($popular as $post) {
    $postDate = new Carbon($post->post_date, new \DateTimeZone('Europe/Sarajevo'));
    $timeAgo = explode(' ', $postDate->longAbsoluteDiffForHumans());
    $html .= $this->printItem($timeAgo, get_permalink($post->ID), $post->post_title);
}

$html .= '</ul><a href="'.$popularNewsPageUrl.'" title="Popular News" rel="category">Sve popularno <i class="fas fa-chevron-right"></i></a> </section>';
return $html;