@import '../../../Blocks/BlicBlock/assets/scss/editor';
@import '../../../Blocks/CategoryBlock/assets/scss/editor';
@import '../../../Blocks/NewsBlock/assets/scss/editor';
@import '../../../Blocks/NewsletterBlock/assets/scss/editor';
@import '../../../Blocks/HpgBlock/assets/scss/editor';

.block-editor-inserter{
  position: initial !important;
  display:flex !important;
  justify-content: center !important;
}


#editor > div > div > div.components-navigate-regions >
div > div.block-editor-editor-skeleton__header >
div > div.edit-post-header__toolbar > div > div.components-dropdown.block-editor-inserter {
  left:0 !important;
}


.block-editor-block-list__block {
  margin: unset;
  max-width: 90%;
}
.block-editor-block-list__layout {
  text-align: center;
}
.editor-post-title__input {
  text-align: center;
}

.block-list-appender {
  position: relative;
}

.gfBlock {
  border:1px solid black;
  padding-bottom:15px;
}

.gfBlock select {
  margin:0 10px;
}

.newsInputIdEditor {
  margin-top:10px;
}

.rightColumn .gfBannerBlockEditor textarea  {
  max-width:80%;
}

.gfNewsBlockEditor .block-editor-default-block-appender {
  display:none !important;
}

.antrefileTitle {
  width: 450px !important;
  height: 50px !important;
  font-size: 18px !important; }

.antrefileText {
  font-size:20px !important;
}

.gfBannerBlockEditor.gfBlock textarea {
  width:100%;
}
