.notificationBell {
    background-color: #ea1c24;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    left: 10px;
    cursor:pointer;
    opacity:0.6;
    z-index:99999;
}
.notificationBell:hover .fa-bell {
    width: 30px;
    height: 30px;
}
.notificationBell:hover {
    opacity:1;
}
.fa-bell {
    color:white;
    transition:0.5s;
}
#closeHistory {
    position: absolute;
    top: -3%;
    right: -10px;
    font-size: 1.4rem;
    color:#ea1c24;
}
.mainTitle {
    text-align: center;
    margin-bottom: 0.5rem;
}
#notificationContainer {
    position:absolute;
    transform:scale(0);
    bottom:116%;
    width:350px;
    padding:0.7rem;
    z-index: 999999999999;
    transition:0.5s;
    transform-origin: left bottom;
    background: white;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
}
.notificationPost {
    margin-bottom:0.5rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px 2px, rgb(0 0 0 / 30%) 0px 0px 2px 0px, red 0px 2px 0px 0px inset;
    padding: 0.5rem;
    border-radius: 5px;
}
.notificationPost a {
    display:flex;
}
.notificationPost:hover {
    background:#f7f7f7;
}
.notificationPost:hover a {
    color:initial;
}
.notificationPost a div:nth-of-type(1) {
    min-width: 105px;
    width: 105px;
}
.notificationPost a div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    word-break: break-all;
}

.subUnsub {
    background: #ea1c24;
    padding: 0.2rem 0.7rem;
    color: white;
    display: block;
    width: max-content;
    margin: 0 auto;
    border-radius: 5px;
    margin-top:1rem;
}
.notificationTitle {
    color: #ea1c24;
    max-height: 88px;
    overflow: hidden;
    word-break:keep-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.postImage {
    height:100%;
    object-fit: cover;
}


/*
Responsive
*/
@media only screen and (max-width:380px) {
    #notificationContainer {
        width:300px;
    }
}

@media only screen and (max-width:320px) {
    #notificationContainer {
        width:280px;
    }
}
