<?php
$postTitle = esc_html($postTitle);
$categoryName = esc_html($categoryName);
$categoryLink = esc_url($categoryLink);
$postThumbnailUrl = esc_url($postThumbnailUrl);
$postPermalink = esc_url($postPermalink);


global $isApp;
if ($isApp) {
    $categoryLink = str_replace('/category','',$categoryLink);
}

$tpl = '<article class="news__item">
               <a title="'. esc_attr($postTitle) .'" href="'. $postPermalink.'">
                   <figure>
                       <img src="'. $postThumbnailUrl .'" alt="'. esc_attr($postTitle) .'"/>';

if ($postType === 'video') {
    $tpl .= '<span class="icon"><i class="fas fa-play"></i></span>';
}
if ($postType === 'audio') {
    $tpl .= '<span class="icon"><i class="fas fa-microphone"></i></span>';
}
if($categoryName === 'HPG') {
    $linkHtml = '<span style="color:red;font-weight:bold;">' . $categoryName .'</span>';
} else {
    $linkHtml = '<a title="' . $categoryName . '" href="' . $categoryLink . '">' . $categoryName . '</a>';
}

$tpl .= '</figure>
               </a>
               <div>
                    <span class="news__category categoryAuthor">';
$tpl .= $linkHtml;
$tpl .=   '</span>
          </span>
          <h3><a title="'. esc_attr($postTitle) .'" href="'. $postPermalink . '">'. $postTitle .'</a></h3>
          </div>
          </article>';

return $tpl;